*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --menu-background: #010101; /* f2 - renomear todos que estão ligados */ /* -ctrl + shift + l = seleciona todas as ocorrencias */
    --text-color: #FAFAFA;
    --cor-primaria:#0055B7;
}

.container-header{
    background-color: var(--menu-background);
}

.header{
    max-width: 1200px;
    margin: 0 auto; /* 0 embaixo e em cima e centralizado nos lados */
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:834px){
    .header{
        /* flex-direction: column; */
    }
}


.menu{
    list-style: none; /* tira as bolinhas do menu */
    display: flex;
}

@media (max-width:834px){
    .menu{
        /* display: none; */
        flex-direction: column;
    }
}

.container-titulo{
    display: flex;  
}

.titulo-site{
    color: var(--text-color);
    font-size: 24px;
    margin-left: 24px;
}

.menu-icon{
    display: none;
}

@media (max-width: 834px){
    .menu-icon{
        display: block;
    }

    .container-menu{ /* passa a não mostrar */
        display: none;
    }
}

.menu-item{
    text-decoration: none;
    color: var(--text-color);
    margin-left: 40px;
}

.menu-item:hover{
    border-bottom: 2px var(--text-color) solid;
}

.showMenu{
    background-color: var(--cor-primaria);
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: block;
}
