* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    border: none;
}

body{
    background-color:#010101;
    font-size: 100%;
}
.cabecalho{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around; /*espaça os itens do canto mais ao centro*/
    padding: 16px;
}


.cabecalho-menu{
    display: flex;
    gap: 24px;

}

.link{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.imagem-inicial{
    background-image: url("./imgs/foguete.png");
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pag-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 104px;
    /* justify-content: space-around;
    padding: 24px; */
}

.titulo{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 48px;
    margin-top: 72px;

}

.botao{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 400;
    background-color: #692DE9;
    width: 360px;
    height: 67px;
    border-radius: 5px;
}

.box{
    background-color: rgba(3, 3, 3, 0.8);
    border-radius: 5px; 
    color: white;
    font-family: 'Inter', sans-serif;
    width: 360px;
    height: 184px;
    font-size: 24px;
    font-weight: 400;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}

.contagem1{
    color: #692DE9;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding-top: 16px;
    /* padding-left: 82px; */ 
}

.contagem2{
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    gap: 48px;
    padding-top: 8px;
    padding-left: 10px;
}

.section2{
    background-color: #010101;
    background-size: 100%;
}



